       
                               /*BODY*/

body {
    font-family: Museo-Sans-300,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333f48;
    font-weight: 400;
    margin: 0 auto;
}

                               /*CONTAINER*/
.containter {

    margin: 0 auto;
}
                               /*HEADER*/
.header {
     font-size: 400%;
    width: 100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}
                               /*Sidebar (hidden) menu*/

#openNav {
 font-size: 170%;
    flex-grow: 1;
    margin:9px;

}
.left-nav-menu{
  font-family: 'Playfair Display', serif;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    list-style: none;
    text-shadow: 0 2px 3px 0;
    display: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, a:focus{
    color: #f1f1f1;
}

.sidenav 
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.closebtn:hover {
    cursor: pointer;
}

                               /*TOP MENU*/
i.material-icons{
    display: none;
}                               
.ul-menu {
    padding-left: 0;
    cursor: pointer;
display: flex;
    z-index:1;

}

.li-menu{
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    line-height: 2;
    flex-grow: 1;
    text-decoration: none;
  margin:auto;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.35em;
}
.li-menu a{
    text-decoration: none;
      

}
.li-menu:hover {
    text-decoration: none;
    transition: width 3s;
    color: white;
    background-color: #89C4F4;
}

                               /*Photo and description section*/
.photos {
    margin-left: 19%;
    
}
.eachphoto {
    width: 100%; 
}


.eachphoto::after {
    content: " ";
    clear: both;
    display: block;
}

.photos .eachphoto {
    margin-bottom: 30px;
}

.img-2-page {
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.6);
    margin: 0 1% 0 0;
    width: 40%;
    cursor: zoom-in;
    float: left;
    overflow: 100;
}

.clr {
    clear: both;
}

                               /*FOOTER */
.footer-copyright {
    text-align: center;
    margin: 0;
}
.footer {
     background-color:rgba(3, 169, 244, 0.08);
    width: 100%;
    text-align: center;
    display: block;
    color: black;
    
}

.footer-menu-bar li:hover {
    color: darkslateblue;
    cursor:  pointer;
    text-decoration: underline;
}

.footer-menu-bar{
    float: left;
    text-align: left;
    list-style: none;
    padding-right: 9%;

}
.footer::after{
    display: block;
    content: "";
    clear: both;
}

                               /*Social Media Icons*/
.social-media-icons {
display: inline-block;
}
.fa-navicon {
    display: none;
}

.fa {
    opacity: 0.8;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 1;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*TEAM*/
.team-container {
    display: flex;
    width:80%;
    margin: 0 auto;
}
.team-col {
    width: 50%;
}

/*-----------------------------!!!!!---------tablet/ipads (portrait and landscape)*/

@media only screen and (min-width:1025px) and (max-width:1388px){

/*if screen < 1024*/

.ul-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
    height: 60px;
    box-shadow: -1px 3px 7px;
    transition: 1s;
    font-size: 80%;
    width: 100%;
    padding-left: 0;
}
.fixed-sidenav {
    position: fixed;
    top: 60px;
}

.li-menu {
    flex-grow: 1;
    display: block;
 }
.photos {
    width:  90%;    
    margin: 0 auto;

}
   .eachphoto {
       font-size: 100%;
   }
   .img-2-page {
    transition:width 2s;
   }
   
   .containter {
       width: 80%;
       margin: 0 auto;
       margin-right: 5%;
       text-align: justify;
   }
   .containter >.header {
       text-align: center;
   }
   /*TEAM*/
   .team-container{
       margin: 0 auto;
   }
   .team-col{
       width: 49%;
       float: left;
       margin: 3px;
   }
   .team-col img {
       width: 421px;
       height:537.5px;
   }
  
}

/*-----------------------------!!!!!---------tablet/ipads (portrait and landscape)*/
@media only screen and (min-width:890px) and (max-width:1024px){
   i {
    display: none;
   }
    .ul-menu {
        margin: 0 auto;
        padding: 0;
        margin-bottom: 3%;
    }
  .li-menu {
      transition: width 2s;
      margin: auto;
      text-decoration: none;
      font-family: 'Playfair Display', serif
  }
    .ul-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
    height: 60px;
    line-height: 2;
    box-shadow: -1px 3px 7px;
    transition: 1s;
    font-size: 80%;
    width: 100%;
    padding-left: 0;
}

   
     .photos {
         float: left;
         margin: 0 15px;
         text-align: justify;
     }
   .footer {
       font-size: 69%;
    
   }
   /*TEAM*/
.team-container {
    width: 90%;
    margin: 0 auto;
}
.team-container::after {
    content: '';
    clear: both;
    display: block;
}
.team-col{
    float: left;
    width: 48%;
    background-color: ghostwhite;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 20px;


}
.team-col img {
    width: 216px;
    height: 300px;
    border-radius: 3%;
}
.team-position{
    font-size: 25px;
}

}

/*-----------------------------!!!!!---------/*smaller tablets (portrait and landscape)*/
@media only screen and (min-width:569px) and (max-width:889px){
    /*if screen < 1024*/
.ul-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
    height: 60px;
    box-shadow: -1px 3px 7px;
    transition: 1s;
    font-size: 80%;
    width: 100%;
    padding-left: 0;
}
.fixed-sidenav {
    position: fixed;
    top: 60px;
}

#openNav {
    display: none;
}

i.material-icons{
    display: block;
    position: absolute;
    top: 38px;
    left: 10px;

}
.li-menu {
    color: black;
    display: inline-block;
  text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 60px;
    font-size: 13px;
}

.img-2-page {
    width:100%;
    transition: 2s;
    
}
.photos {
    margin: 0 2%;
}
#contact-form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/*TEAM*/
.team-container {
    width: 90%;
    margin: 0 auto;
}
.team-container::after {
    content: '';
    clear: both;
    display: block;
}
.team-col{
    float: left;
    width: 48%;
    background-color: ghostwhite;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 20px;


}
.team-col img {
    width: 216px;
    height: 300px;
    border-radius: 3%;
}
.team-position{
    font-size: 20px;
}
}
/*-----------------------------!!!!!---------/*SMARTPHONES (portrait and landscape)*/
@media only screen and (min-width:240px) and (max-width:568px){

 #top{
       font-size: 200%;
        margin-bottom: 5%;

   }

span {
    display: none;
}

.ul-menu {
display: flex;
 top: 45;
 left:0;
 width: 100%;

}

.li-menu {
    text-decoration: none;
    font-size: 75%;
    padding-bottom: 7px;
    padding-top: 7px;
    display: inline-block;
}
.li-menu:hover {
    background-color: none;
}
a:hover {
    color:gray;
    text-decoration: underline;
}
.img-2-page {
    width:100%;
    
}
.photos {
    margin: 0 2%;
}
/* CONTACT FORM */
.ul-m-contacts {
direction: none !important;
}
i.material-icons{
    display: block;
    position: absolute;
    left: 12px;
    top: 10px;
}

#contact-form_description{
        padding: 5%;
}

/*TEAM*/
.team-container{
    width: 100%;
}
.team-container::after{
    content: "";
    clear: both;
    display: block;
}
.team-col{
  width: 100%;
  position: relative;
  
}
.team-col img {
    width: 66%;
}
.team-descr-container {
    position: absolute;
    width: 100%;
    height: 250px;
}
.team-position {
    font-size: 15px;
}
.team-name{
    font-size: 15px;

}



  }